
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;700&display=swap');
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
h2{
    color:rgb(67, 174, 255);
    
}

h3{
    font-weight: 700;
}

.artist-card{
    margin: 6px;
    padding: 10px;
    width: 180px;
    max-width: 180px;
    height: 350px;
    text-align: center;
    background-color: #222222;
    border-radius: 5px;
}